body{
    background-color: white;
    
}

.container-div{ 
    Display: flex;
    Height: 100vh;
    Width: 100vw; 
    Align-Items: center;
    Justify-Content: centre;
    }

.grid-div{
    border-bottom: 10in;

}
